* {
    box-sizing: border-box;
}

/* === HEADER STYLE === */

.header-itself {
    background-image: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% center;
    display: table;
    text-align: center;
}

.header-inner-div {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    margin: 0 auto;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}